@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: Roboto, sans-serif;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    .h7,
    .h8 {
        font-family: Poppins, sans-serif;
        font-weight: 600;
        letter-spacing: 0em;
    }
    .h1 {
        @apply text-5xl md:text-6xl;
    }
    .h2 {
        @apply text-4xl md:text-5xl;
    }
    .h3 {
        @apply text-3xl md:text-4xl;
    }
    .h4 {
        @apply text-2xl md:text-3xl;
    }
    .h5 {
        @apply text-xl md:text-2xl;
    }
    .h6 {
        @apply text-base md:text-base;
    }
    .h7 {
        @apply text-xs md:text-sm;
    }
    .h8 {
        font-size: 12px;
    }

    .p1,
    .p2,
    .p3,
    .p4 {
        font-family: Roboto, sans-serif;
        font-weight: 400;
    }
    .p1 {
        font-size: 24px;
        line-height: 36px;
    }
    .p2 {
        font-size: 16px;
        line-height: 24px;
    }
    .p3 {
        font-size: 14px;
        line-height: 21px;
    }
    .p4 {
        font-size: 12px;
        line-height: 18px;
    }
}

@layer components {
    .btn {
        @apply flex gap-1 items-center justify-center rounded-lg py-3 px-8  transition-all h7;
    }

    .btn-primary {
        @apply bg-primary-4 text-white hover:bg-primary-5;
    }

    .btn-secondary {
        @apply bg-neutral-1 text-primary-4 hover:bg-primary-1;
    }
    .input-field {
        @apply p2 transition-all px-3 py-3 rounded-md border-[1px] mt-2 border-slate-300 outline-none focus:ring-2 focus:ring-primary-2;
    }
    .link {
        @apply inline-block h-fit self-center text-neutral-4 hover:text-primary-4 transition-all;
    }
}

.rdt_Table {
    border: 1px solid #eaeaea;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    overflow: hidden;
}
.rdt_TableCol,
.rdt_TableCell {
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    @apply p3;
}
.rdt_TableHeadRow {
    background-color: #f9f8f9 !important;
}
.rdt_TableCol_Sortable > * {
    font-weight: 700 !important;
}
main header {
    background: transparent !important;
    padding: 0 !important;
    width: 100%;
}

/* rbc style */
.rbc-calendar .rbc-month-view {
    border-radius: 0.5rem;
    overflow: hidden;
}
.rbc-calendar .rbc-day-bg.rbc-today {
    @apply bg-teal-100;
}
.rbc-calendar .rbc-btn-group {
    display: flex;
    border: none;
}
.rbc-calendar .rbc-month-header .rbc-header {
    padding-top: 12px;
    padding-bottom: 12px;
    @apply bg-primary-3 border-none text-white;
}
.rbc-calendar .rbc-day-bg {
    @apply bg-white;
}
.rbc-calendar .rbc-day-bg.rbc-off-range-bg {
    @apply bg-gray-100;
}
.rbc-calendar .rbc-btn-group button {
    @apply btn btn-secondary bg-neutral-1 border-primary-2 px-3;
}
.rbc-calendar .rbc-toolbar-label {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}
.rbc-calendar .rbc-btn-group button.rbc-active,
.rbc-calendar .rbc-btn-group button.rbc-active:active,
.rbc-calendar .rbc-btn-group button.rbc-active:focus,
.rbc-calendar .rbc-btn-group button:active,
.rbc-calendar .rbc-btn-group button:focus {
    box-shadow: none;
    @apply border-primary-2 bg-primary-2 text-white;
}
.rbc-calendar .rbc-btn-group button.rbc-active:hover {
    box-shadow: none;
    border-color: transparent;
    @apply border-primary-2 bg-primary-3 text-white;
}
.rbc-calendar .rbc-btn-group button:hover {
    box-shadow: none;
    border-color: transparent;
    @apply border-primary-2 bg-primary-3 text-white;
}
